@import '../../../styles/settings.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 230px;
  margin: 0 auto;
}

.input {
  margin-top: 16px;
}

.title {
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  margin-top: 40px;
}

.link {
  text-decoration: none;
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
