@import '../../../styles/settings.scss';


.title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
}

.cell {
  border-left: 1px solid #ddd;
  text-align: center;
  min-width: 120px;
}

.new {
 margin: 30px 0;
}




