@import '../../../styles/settings.scss';


.wrapper {
  margin-top: 20px;
}

.card {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.table {
  margin-bottom: 50px;
}

.reservation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

