.navLink {
  margin-left: 20px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-family: Arial;
  text-decoration: none;

  &:hover {
    color: peru;
  }
}


.active {
  color: peru;
}







